<!DOCTYPE html> 
<html> 
<head> 
    <title>HipsterTrek</title>
    <link rel='icon' type='image/png' href='favicon.ico'>
    <style type='text/css' media='screen'>
        @font-face {
            font-family: 'ShareTechMono';
            src: url('ShareTechMono-Regular.ttf');
            font-weight: normal;
            font-style: normal;
        }
        body {
            font-family: 'ShareTechMono', sans-serif;
            background-color: #111111;
            text-decoration-color: #ffffff;
            color: #eeeeee;
            margin: auto;
            padding: 0;
            height: 1200px;
        }
        .navbar {
            width: 100%;
            overflow: hidden;
            background-image: linear-gradient(to right, #880000, #008800, #000088);
            font-family: Arial, sans-serif;
        }
        .navbar a {
            float: left;
            font-family: 'ShareTechMono', sans-serif;
            font-size: large;
            color: #eeeeee;
            text-align: center;
            padding: 14px 14px;
            text-decoration: none;
        }
        .navbar a:hover {
            background-color: #888888;
            color: #ffffff;
        }
        .navbar a.active {
            background-image: #555555;
            color: #ffffff;
        }
        .footbar {
            color: #ffffff;
            background-color: #0f0f0f;
            text-align: right;
            overflow: hidden;
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 5px 0px;
            font-size: 12px;
        }
        #container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 150px auto auto auto;
        }
        #canvas {
            top: 50px;
        }​
        .modal-backdrop {
            display: none;
            position: absolute;
            z-index: 1;
            padding-top: fit-content;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 200%;
            overflow: auto;
            background-color: rgba(0,0,0,0);
        }
        .modal-content {
            display: none;
            position: absolute;
            color: #ffffff;
            padding: 10px;
            margin: 10px;
            font-size: large;
            background-color: rgba(0,0,0,0.8);
            padding: 10px;
            width: 650px;
            height: fit-content;
            border-radius: 25px;
            border: 2px solid #ffffff;
        }
        .close {
            color: #ffffff;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: #ffff00;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <script src='https://d3js.org/d3.v5.min.js' charset='utf-8'></script>
</head> 
  
<body>
    <div class='navbar'>
        <a class='active' href='/'>HipsterTrek 🗺</a>
        <a style='float: right;' href='about'>About 📚</a>
    </div>

    <h1 id='title' style='text-align: center;'></h1>

    <table id="container" style="width: fit-content; height: 50%; border: 2px solid #ffffff;">
        <tbody>
            <tr>
                <td><div id='canvas' style="width: fit-content;"></div></td>
                <td><iframe src="https://open.spotify.com/embed/artist/2zu4O5MNLn9MTmm4OM2Yz1" width="225" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media" style="padding-right: 10px; margin: 0px;"></iframe></td>
            </tr>
            <tr><td> </td></tr>
        </tbody>
    </table>
    
    

    <div id='genreCanvas' class='modal-backdrop'>
        <div id='genreModal' class='modal-content'>
            <span class='close'>&times;</span>
            <h5 style='margin: 0px 0px 10px 0px; font-size: large;' id='genreName'>Genre</h5>
            <p style='margin: 0px; font-size: smaller; font-style: italic;'>Summary: </p>
            <p style='margin: 0px; font-size: medium;' id='genreSummary'>null</p>
            <p style='margin: 0px; font-size: x-small;''>Summary sourced from Wikipedia.</p>
            <br/>
            <p style='margin: 0px; font-size: smaller; font-style: italic;'>Albums From This Genre: </p>
            <p style='margin: 0px; font-size: medium;' id='genreAlbum1'>null</p>
            <img id="albumimg1" src="HipsterTrek.png" alt="Genre Album Cover 1" width="64" height="64"/>
            <p style='margin: 0px; font-size: medium;' id='genreAlbum2'>null</p>
            <img id="albumimg2" src="HipsterTrek.png" alt="Genre Album Cover 2" width="64" height="64"/>
            <p style='margin: 0px; font-size: medium;' id='genreAlbum3'>null</p>
            <img id="albumimg3" src="HipsterTrek.png" alt="Genre Album Cover 3" width="64" height="64"/>
        </div>
    </div>

    <script>
        var modal;
        var backdrop;

        var svgContainer = d3
            .select("#canvas")
            .append('svg')
            .attr('align','center')
            .attr('width',1105)
            .attr('height',700);

        var defs = svgContainer.append("defs");

        var gradient1 = defs
            .append("linearGradient")
            .attr("id", "startGradient")
            .attr("x1", "0%")
            .attr("x2", "100%")
            .attr("y1", "0%")
            .attr("y2", "100%");

        gradient1
            .append("stop")
            .attr('class', 'start')
            .attr("offset", "0%")
            .attr("stop-color", "red")
            .attr("stop-opacity", 1);

        gradient1
            .append("stop")
            .attr('class', 'end')
            .attr("offset", "100%")
            .attr("stop-color", "green")
            .attr("stop-opacity", 1);

        var gradient2 = defs
            .append("linearGradient")
            .attr("id", "endGradient")
            .attr("x1", "0%")
            .attr("x2", "100%")
            .attr("y1", "0%")
            .attr("y2", "100%");

        gradient2
            .append("stop")
            .attr('class', 'start')
            .attr("offset", "0%")
            .attr("stop-color", "green")
            .attr("stop-opacity", 1);

        gradient2
            .append("stop")
            .attr('class', 'end')
            .attr("offset", "100%")
            .attr("stop-color", "blue")
            .attr("stop-opacity", 1);

        var payload = <%- JSON.stringify(data) %>;

        const genrenames = {
            drumandbass: `Drum&Bass`,
            industrial: `Industrial`,
            grunge: `Grunge`,
            rap: `Rap`,
            lofi: `Lo-Fi`,
            metal: `Metal`,
            rock: `Rock`,
            reggae: `Reggae`,
            randb: `R&B`,
            edm: `EDM`,
            pop: `Pop`,
            jazz: `Jazz`,
            funk: `Funk`,
            gospel: `Gospel`,
            country: `Country`,
            alternative: `Alternative`,
            motown: `Motown`,
            blues: `Blues`,
            folk: `Folk`,
            latin: `Latin`,
            theatre: `Theatre`,
            hymns: `Hymns`,
            band: `Band`,
            world: `World`,
            scores: `Scores`,
            classical: `Classical`,
            traditional: `Traditional`,  
        };

        const albums = {
            drumandbass: [`Photek:\nModus Operandi`, `Goldie:\nTimeless`, `Workforce:\nLate Night Soundtrack`],
            industrial: [`Nine Inch Nails:\nPretty Hate Machine`, `Coil:\nHorse Rotorvator`, `poppy:\nI Disagree`],
            grunge: [`Nirvana:\nNevermind`, `Hole:\nLive Through This`, `Pixies:\nTrompe le Monde`],
            rap: [`Jay-Z:\nThe Blueprint`, `Kanye West:\nLate Registration`, `Lauryn Hill:\nThe Miseducation of Lauryn Hill`],
            lofi: [`Neutral Milk Hotel:\nIn the Aeroplane Over the Sea`, `The Microphones:\nThe Glow Pt.2`, `Grimes:\nArt Angels`],
            metal: [`metallica:\nMaster of Puppets`, `Black Sabbath:\nParanoid`, `Iron Maiden:\nPowerslave`],
            rock: [`The Beatles:\nAbbey Road`, `Pink Floyd:\nThe Dark Side of the Moon`, `Aerosmith:\nAerosmith`],
            reggae: [`Bob Marley and the Wailers:\nLegend`, `Toots and the Maytals:\nfunky Kingston`, `The Congos:\nHeart of the Congos`],
            randb: [`Frank Ocean:\nBlond`, `Solange:\nA Seat At The Table`, `Usher:\nConfessions`],
            edm: [`Daft Punk:\nRandom Access Memories`, `Flume:\nSkin`, `Jack Ü:\nSkrillex and Diplo Present Jack Ü`],
            pop: [`Michael Jackson:\nThriller`, `Dua Lipa:\nFuture Nostalgia`, `Lady Gaga:\nArtpop`],
            jazz: [`John Coltrane:\nA Love Supreme`, `Stan Getz:\nGetz/Gilberto`, `Aretha Franklin:\nGreatest Hits`],
            funk: [`Rick James:\nStreet Songs`, `Herbie Hancock:\nHead Hunters`, `George Duke:\nGaurdian of the Light`],
            gospel: [`Kirk Franklin:\nThe Rebirth of Kirk Franklin`, `Sunday Service Choir:\nJesus Is Born`, `Various Artists:\nEMI gospel 2010`],
            country: [`Johnny Cash:\nAt Folsom Prison`, `Taylor Swift:\nFearless`, `Blake Shelton:\nRed River Blue`],
            alternative: [`Radiohead:\nOK Computer`, `Weezer:\nWeezer`, `Panic! At The Disco:\nA Fever You Can't Sweat Out`],
            motown: [`Marvin Gaye:\nWhat's Going On`, `The Marcels:\nBlue Moon`, `The Jackson 5:\nDiana Ross Presents The Jackson 5`],
            blues: [`Nina Simone:\nWild Is the Wind`, `Bobby Caldwell:\nBobby Caldwell`, `B.B. King:\nB.B. King Live at the Regal`],
            folk: [`John Denver:\nPoems, Prayers & Promises`, `Shirley Collins:\nHeart's Ease`, `Woody Guthrie:\nDust Bowl Ballads`],
            latin: [`Bad Bunny:\nYHLQMDLG`, `Selena:\nDreaming of You`, `Gente de Zona:\nVisualízate`],
            theatre: [`Lin-Manuel Miranda:\nHamilton`, `Claude-Michel Schönberg:\nLes Misérables`, `Jerry Herman:\nHello, Dolly!`],
            hymns: [`Choir of King’s College, Cambridge:\nBest Loved hymns`, `Don Moen:\nHymnbook`, `Joey + Rory:\nhymns`],
            band: [`John Philip Sousa:\nAmerican Military Marches`, `Duke Ellington:\nEllington at Newport`, `Frank Sinatra:\nCome Fly with Me`],
            world: [`Drake:\nMore Life`, `Imran Khan:\nUnforgettable`, `Gims:\nCeinture Noire`],
            scores: [`John Williams:\nJurassic Park: Original Motion Picture Soundtrack`, `Hans Zimmer:\nThe Dark Knight: Original Motion Picture Soundtrack`, `Michael Giacchino:\nRatatouille`],
            classical: [`Yo-Yo Ma:\nSongs of Joy and Peace`, `Wolfgang Amadeus Mozart:\nMozart in the Morning`, `Ludwig van Beethoven:\nThe Best of Beethoven`],
            traditional: [`Yggdrasil:\nWardruna Runaljod`, `Ebenezer Obey:\nJuju Jubilee`, `Duo En:\nMoonviewing`],  
        };

        const summaries = {
            drumandbass: `Drum and bass is a genre of electronic music characterised by fast breakbeats with heavy bass and sub-bass lines, samples, and synthesizers. The genre grew out of the UK's jungle scene in the early 1990s. The popularity of drum and bass at its commercial peak ran parallel to several other homegrown dance styles.`,
            industrial: `Industrial music is a genre of music that draws on harsh, transgressive or provocative sounds and themes. AllMusic defines industrial music as the "most abrasive and aggressive fusion of rock and electronic music" that was "initially a blend of avant-garde electronics experiments and punk provocation".`,
            grunge: `Grunge is an alternative rock genre and subculture that emerged during the mid-1980s in the American Pacific Northwest state of Washington, particularly in Seattle and nearby towns. Grunge fuses elements of punk rock and heavy metal, but without punk's structure and speed.`,
            rap: `Hip hop music, also known as rap music, is a genre of popular music developed in the United States by inner-city African Americans and Latino Americans in the Bronx borough of New York City in the 1970s. It consists of a stylized rhythmic music that commonly accompanies rapping, a rhythmic and rhyming speech that is chanted.`,
            lofi: `Lo-fi is a music or production quality in which elements usually regarded as imperfections of a recording or performance are audible, sometimes as a deliberate aesthetic choice.`,
            metal: `Heavy metal is a genre of rock music that developed in the late 1960s and early 1970s, largely in the United Kingdom and the United States. With roots in blues rock, psychedelic rock, and acid rock, heavy metal bands developed a thick, massive sound, characterized by distortion, extended guitar solos, emphatic beats, and loudness.`,
            rock: `Rock music is a broad genre of popular music that originated as "rock and roll" in the United States in the late 1940s and early 1950s, developing into a range of different styles in the mid-1960s and later, particularly in the United States and the United Kingdom. It has its roots in 1940s and 1950s rock and roll, a style that drew directly from the blues and rhythm and blues genres of African-American music and from country music.`,
            reggae: `Reggae is a music genre that originated in Jamaica in the late 1960s. The term also denotes the modern popular music of Jamaica and its diaspora.`,
            randb: `Contemporary R&B is a music genre that combines rhythm and blues with elements of pop, soul, funk, hip hop and electronic music. The genre features a distinctive record production style, drum machine-backed rhythms, pitch corrected vocals, and a smooth, lush style of vocal arrangement.`,
            edm: `Electronic dance music, also known as dance music, club music, or simply dance, is a broad range of percussive electronic music genres made largely for nightclubs, raves, and festivals.`,
            pop: `Pop is a genre of popular music that originated in its modern form during the mid-1950s in the United States and the United Kingdom. The terms popular music and pop music are often used interchangeably, although the former describes all music that is popular and includes many disparate styles.`,
            jazz: `Jazz is a music genre that originated in the African-American communities of New Orleans, Louisiana, United States, in the late 19th and early 20th centuries, with its roots in blues and ragtime. Since the 1920s Jazz Age, it has been recognized as a major form of musical expression in traditional and popular music, linked by the common bonds of African-American and European-American musical parentage.`,
            funk: `Funk is a music genre that originated in African American communities in the mid-1960s when musicians created a rhythmic, danceable new form of music through a mixture of soul, jazz, and rhythm and blues.`,
            gospel: `Gospel music is a genre of Christian music. The creation, performance, significance, and even the definition of gospel music varies according to culture and social context. Gospel music is composed and performed for many purposes, including aesthetic pleasure, religious or ceremonial purposes, and as an entertainment product for the marketplace.`,
            country: `Country is a genre of popular music that originated with blues, old-time music, and various types of American folk music including Appalachian, Cajun, Creole, and the cowboy Western music styles of New Mexico, Red Dirt, Tejano, and Texas country.`,
            alternative: `Alternative rock is a category of rock music that emerged from the independent music underground of the 1970s and became widely popular in the 1990s. "Alternative" refers to the genre's distinction from mainstream or commercial rock or pop music.`,
            motown: `Motown, or the Motown sound, is a style of rhythm and blues music named after the record company Motown in Detroit, where teams of songwriters and musicians produced material for girl groups, boy bands, and solo singers during the 1960s and early 1970s. The music of Motown helped a small record company become the largest Black American-owned enterprise in the country and a national music industry competitor in the United States.`,
            blues: `Blues is a music genre and musical form which was originated in the Deep South of the United States around the 1860s by African-Americans from roots in African-American work songs, and spirituals. Blues incorporated spirituals, work songs, field hollers, shouts, chants, and rhymed simple narrative ballads.`,
            folk: `Folk music includes traditional folk music and the genre that evolved from it during the 20th-century folk revival. Traditional folk music has been defined in several ways: as music transmitted orally, music with unknown composers, music that is played on traditional instruments, music about cultural or national identity, music that changes between generations (folk process), music associated with a people's folklore or music performed by custom over a long period of time.`,
            latin: `Latin music is a term used by the music industry as a catch-all genre for various styles of music from Latin America, Spain, Portugal, and the United States, as well as music sung in Spanish or Portuguese language. Because the majority of Latino immigrants living in New York City in the 1950s were of Puerto Rican or Cuban descent, "Latin music" had been stereotyped as music simply originating from the Spanish Caribbean.`,
            theatre: `Theatre music refers to a wide range of music composed or adapted for performance in theatres. Genres of theatre music include opera, ballet and several forms of musical theatre, from pantomime to operetta and modern stage musicals and revues.`,
            hymns: `A hymn is a type of song, usually religious, specifically written for the purpose of adoration or prayer, and typically addressed to a deity or deities, or to a prominent figure or personification. The word hymn derives from Greek ὕμνος (hymnos), which means "a song of praise".`,
            band: `A concert band, variously also called a wind ensemble, symphonic band, wind symphony, wind orchestra, wind band, symphonic winds, symphony band, or symphonic wind ensemble, is a performing ensemble consisting of members of the woodwind, brass, and percussion families of instruments, and occasionally including the double bass or bass guitar. On rare occasions, additional non-traditional instruments may be added to such ensembles such as piano, harp, synthesizer, or electric guitar.`,
            world: `World music is a musical category encompassing many different styles of music from around the world, including traditional music, quasi-traditional music, and music where more than one cultural tradition intermingles.`, 
            scores: `A film score is original music written specifically to accompany a film. The score comprises a number of orchestral, instrumental, or choral pieces called cues, which are timed to begin and end at specific points during the film in order to enhance the dramatic narrative and the emotional impact of the scene in question.`,
            classical: `Classical music is art music produced or rooted in the traditions of Western culture, including both liturgical (religious) and secular music. Historically, the term 'classical music' refers specifically to the musical period from 1750 to 1820 (the Classical period).`,
            traditional: `The term traditional music is often used as a broad classification of music genres that contrasts with classical music and popular music genres as referring to genres founded neither upon any theoretical canon nor upon any mass commercial medium. The term has tended to replace folk music, which has come to refer to European rural genres and contemporary American styles based upon these.`,  
        };

        var genrepath = [];
        var genrealbums = [];
        
        for(let i = 0; i < payload[0].length; i++) {
            genrepath.push(payload[0][i]);
            genrealbums.push(albums[payload[0][i]]);
        }

        document.getElementById('title').innerHTML = `Your Music Trek: From ${genrenames[genrepath[0]]} to ${genrenames[genrepath[genrepath.length-1]]}`;

        const nodes = [
            [190, 100],     // drumandbass
            [390, 50],      // industrial
            [840, 75],      // grunge
            [140, 175],     // rap
            [365, 125],     // lofi
            [527.5, 150],   // metal
            [702.5, 162.5], // rock
            [90, 250],      // reggae
            [315, 275],     // randb
            [565, 250],     // edm
            [727.5, 250],   // pop
            [115, 362.5],   // jazz
            [315, 200],     // funk
            [465, 300],     // gospel
            [665, 337.5],   // country
            [827.5, 325],   // alternative
            [202.5, 450],   // motown
            [390, 400],     // blues
            [1015, 387.5],  // folk
            [365, 500],     // latin
            [602.5, 487.5], // theatre
            [802.5, 487.5], // hymns
            [90, 600],      // band
            [490, 600],     // world
            [640, 550],     // scores
            [690, 662.5],   // classical
            [840, 575],     // traditional
        ];

        const edges = [
            [nodes[0], nodes[1], [`drumandbass`, `industrial`]],
            [nodes[1], nodes[5], [`industrial`, `metal`]],
            [nodes[1], nodes[6], [`industrial`, `rock`]],
            [nodes[6], nodes[5], [`rock`, `metal`]],
            [nodes[2], nodes[6], [`grunge`, `rock`]],
            [nodes[2], nodes[15], [`grunge`, `alternative`]],
            [nodes[0], nodes[3], [`drumandbass`, `rap`]],
            [nodes[3], nodes[7], [`rap`, `reggae`]],
            [nodes[11], nodes[16], [`jazz`, `motown`]],
            [nodes[0], nodes[9], [`drumandbass`, `edm`]],
            [nodes[0], nodes[4], [`drumandbass`, `lofi`]],
            [nodes[3], nodes[4], [`rap`, `lofi`]],
            [nodes[3], nodes[8], [`rap`, `randb`]],
            [nodes[11], nodes[12], [`jazz`, `funk`]],
            [nodes[8], nodes[12], [`randb`, `funk`]],
            [nodes[8], nodes[17], [`randb`, `blues`]],
            [nodes[7], nodes[11], [`reggae`, `jazz`]],
            [nodes[16], nodes[13], [`motown`, `gospel`]],
            [nodes[13], nodes[17], [`gospel`, `blues`]],
            [nodes[13], nodes[20], [`gospel`, `theatre`]],
            [nodes[13], nodes[21], [`gospel`, `hymns`]],
            [nodes[13], nodes[8], [`gospel`, `randb`]],
            [nodes[16], nodes[17], [`motown`, `blues`]],
            [nodes[16], nodes[20], [`motown`, `theatre`]],
            [nodes[11], nodes[22], [`jazz`, `band`]],
            [nodes[22], nodes[20], [`band`, `theatre`]],
            [nodes[22], nodes[25], [`band`, `classical`]],
            [nodes[19], nodes[3], [`latin`, `rap`]],
            [nodes[19], nodes[7], [`latin`, `reggae`]],
            [nodes[9], nodes[10], [`edm`, `pop`]],
            [nodes[9], nodes[23], [`edm`, `world`]],
            [nodes[10], nodes[6], [`pop`, `rock`]],
            [nodes[10], nodes[14], [`pop`, `country`]],
            [nodes[10], nodes[15], [`pop`, `alternative`]],
            [nodes[17], nodes[14], [`blues`, `country`]],
            [nodes[15], nodes[14], [`alternative`, `country`]],
            [nodes[18], nodes[14], [`folk`, `country`]],
            [nodes[18], nodes[15], [`folk`, `alternative`]],
            [nodes[18], nodes[20], [`folk`, `theatre`]],
            [nodes[18], nodes[21], [`folk`, `hymns`]],
            [nodes[18], nodes[6], [`folk`, `rock`]],
            [nodes[21], nodes[25], [`hymns`, `classical`]],
            [nodes[21], nodes[26], [`hymns`, `traditional`]],
            [nodes[24], nodes[20], [`scores`, `theatre`]],
            [nodes[24], nodes[25], [`scores`, `classical`]],
            [nodes[25], nodes[23], [`classical`, `world`]],
            [nodes[26], nodes[23], [`traditional`, `world`]],
            [nodes[19], nodes[23], [`latin`, `world`]],
        ];

        for (let i = 0; i < edges.length; i++) {
            var genreedge = svgContainer
                .append("line")
                .attr("x1", edges[i][0][0])
                .attr("y1", edges[i][0][1])
                .attr("x2", edges[i][1][0])
                .attr("y2", edges[i][1][1])
                .attr('stroke', '#555555')
                .style('stroke-width', 2);
        }

        for (let i = 0; i < edges.length; i++) {
            var genreedge = svgContainer
                .append("line")
                .attr("x1", edges[i][0][0])
                .attr("y1", edges[i][0][1])
                .attr("x2", edges[i][1][0])
                .attr("y2", edges[i][1][1])
                .attr('stroke', ((genrepath.indexOf(edges[i][2][0]) != -1) && (genrepath.indexOf(edges[i][2][1]) != -1)) ? '#ffffff' : 'rgba(0,0,0,0)')
                .style('stroke-width', 2);
        }
        
        for (let i = 0; i < nodes.length; i++) {
            var genrenode = svgContainer
                .append("ellipse")
                .attr("cx", nodes[i][0])
                .attr("cy", nodes[i][1])
                .attr("rx", 75)
                .attr("ry", 25)
                .attr('stroke', genrepath.indexOf(Object.keys(albums)[i]) == 0 ? 'url(#startGradient)' : genrepath.indexOf(Object.keys(albums)[i]) == (genrepath.length-1) ? 'url(#endGradient)' : genrepath.indexOf(Object.keys(albums)[i]) != -1 ? '#ffffff' : '#555555')
                .attr('fill', '#000000')
                .style('stroke-width', 2)
                .on('click', function() {
                    backdrop = document.getElementById('genreCanvas');
                    modal = document.getElementById('genreModal');
                    modal.style.display = 'block';
                    modal.style.left = `${d3.select(this).attr('cx')-15}px`;
                    modal.style.top = `${d3.select(this).attr('cy')}px`;
                    document.getElementById('genreName').innerHTML = `${genrenames[Object.keys(albums)[i]]}`;
                    document.getElementById('genreSummary').innerHTML = `${summaries[Object.keys(albums)[i]]}`;
                    document.getElementById('genreAlbum1').innerHTML = `${albums[Object.keys(albums)[i]][0]}`;
                    document.getElementById('genreAlbum2').innerHTML = `${albums[Object.keys(albums)[i]][1]}`;
                    document.getElementById('genreAlbum3').innerHTML = `${albums[Object.keys(albums)[i]][2]}`;
                    document.getElementById('albumimg1').src = `albumcovers/${albums[Object.keys(albums)[i]][0].toLowerCase().split(':')[1].replaceAll(' ','').replaceAll('/', '').replaceAll('.', '').replaceAll('!', '').replaceAll(':', '').replaceAll(',', '').replaceAll('&', '').replaceAll("'", '')}.jpg`;
                    document.getElementById('albumimg2').src = `albumcovers/${albums[Object.keys(albums)[i]][1].toLowerCase().split(':')[1].replaceAll(' ','').replaceAll('/', '').replaceAll('.', '').replaceAll('!', '').replaceAll(':', '').replaceAll(',', '').replaceAll('&', '').replaceAll("'", '')}.jpg`;
                    document.getElementById('albumimg3').src = `albumcovers/${albums[Object.keys(albums)[i]][2].toLowerCase().split(':')[1].replaceAll(' ','').replaceAll('/', '').replaceAll('.', '').replaceAll('!', '').replaceAll(':', '').replaceAll(',', '').replaceAll('&', '').replaceAll("'", '')}.jpg`;
                    backdrop.style.display = `block`;})
                .on('mouseover', function() { d3.select(this).style('stroke-opacity', 1); d3.select(this).style('filter', `Brightness(150%)`);})
                .on('mouseout', function() { d3.select(this).style('stroke-opacity', 1); d3.select(this).style('filter', `Brightness(100%)`);});
            var name = svgContainer.append('text').attr('x', nodes[i][0]-(4*(genrenames[Object.keys(albums)[i]].length))).attr('y', nodes[i][1]).attr('dy', `.35em`).attr('font-size', `15px`).attr('font-family', `ShareTechMono`).text(`${genrenames[Object.keys(albums)[i]]}`).style('fill', genrepath.indexOf(Object.keys(albums)[i]) != -1 ? '#ffffff' : '#555555');      
        }

        var span = document.getElementsByClassName('close')[0];
        span.onclick = function() {
            backdrop.style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == backdrop) {
                backdrop.style.display = 'none';
            }
        }
    </script>

   
</body>

<footer>
    <br/>
    <div class='footbar'>
        HipsterTrek © 2021 &nbsp;
    </div>
</footer>
  
</html> 